# Python
__pycache__/
*.py[cod]
venv*/
*.egg-info/
.pytest_cache/
htmlcov/
.coverage
package/
# Node
node_modules/
dist/

# CDK
cdk.out/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
